<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Name</title>
</head>
<body style="color: white; background-color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 24px;">
    <h1>Submit Your Name</h1>
    <form action="/form" method="post">
        <label for="name">Name:</label>
        <input style="font-size: 24px; background-color: darkslategray; color: lightcoral;" type="text" id="name" name="name" required>
        <button style="font-size: 24px; background-color: red; color: yellow;" type="submit">Submit</button>
    </form>
    <br><br>
    To go back to homepage: <a style="color: lightpink;" href="/">Click here!</a>
</body>
</html>
