body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100vh;      
    background-color: black;
    color: white; 
   
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Adjust the gap between containers */
}

#hangman-container{    
    font-size: 24px;
    background-color: darkred;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    text-align: center;
    width: 270px; 
    margin-top: 10px;
    margin-bottom: 30px;   
}

#lives-display{
    color: yellow;
}

#update-container{    
    display: flex;  
    justify-content: center; 
    text-align: center;
    align-items: center; 
    background-color: rgb(94, 69, 7);
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px; 
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;  
}

#feedback-container{
    font-weight: bold;
    color: rgb(14, 216, 243);
}


#word-container{
    margin-bottom: 20px;    
    font-size: 30px;
}

#letter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

#letter-buttons button {    
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    text-align: center;
}

#letter-buttons button:hover {
    background-color: gray;
}

#guessed-letters{
    display: flex;
    font-size: 20px;
    color: rgb(255, 82, 226);
}

#new-game-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#new-game-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-game-button {
    background-color: lightgreen;
}

#home-button {
    background-color: lightcoral;
}

#new-game-button:hover {
    background-color: green;
}

#home-button:hover {
    background-color: red;
}


@media (max-width: 600px) {

    .container{
        flex-direction: column;
    }
    #hangman-container{
        margin-bottom: 0px;
        font-size: 16px;
        padding: 2px;
        border-radius: 20px;
    }
    #update-container{
        margin-top: 10px;
        align-self: center; 
               
        
    }
}